<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="icon" href="/css/logo.svg">
    <title>VirexA</title>
</head>
<body class="bg-black text-white">
<div class="flex min-h-screen flex-col items-center justify-center px-4">
    <img src="/css/VirexALogo.svg" alt="logo">
    <div class="mt-10 grid grid-cols-1 sm:grid-cols-2 gap-8 max-w-4xl w-full">
        <div class="p-6 bg-transparent border border-indigo-500 shadow rounded-2xl hover:scale-95 transform-gpu transition">
            <h2 class="text-xl font-semibold">Удобная маршрутизация</h2>
            <p class="mt-2 text-gray-400">Простое объявление маршрутов.</p>
        </div>
        <div class="p-6 bg-transparent border border-white shadow rounded-2xl hover:scale-95 transform-gpu transition">
            <h2 class="text-xl font-semibold">Гибкие Middleware и Хелперы</h2>
            <p class="mt-2 text-gray-400">Поддержка middleware для контроля доступа и логики.</p>
        </div>
        <div class="p-6 bg-transparent border border-white shadow rounded-2xl hover:scale-95 transform-gpu transition">
            <h2 class="text-xl font-semibold">Контроллеры и MVC</h2>
            <p class="mt-2 text-gray-400">Структура контроллеров, разделение логики, упрощённый MVC подход.</p>
        </div>
        <div class="p-6 bg-transparent border border-indigo-500 shadow rounded-2xl hover:scale-95 transform-gpu transition">
            <h2 class="text-xl font-semibold">Tailwind CSS готов</h2>
            <p class="mt-2 text-gray-400">Стилизация страниц сразу из коробки. Легко настраивается и расширяется.</p>
        </div>
    </div>

    <a href="/noneDoc" class="mt-5 inline-block px-3 py-2 bg-transparent text-white rounded-xl text-md hover:text-gray-400 transition">
        Перейти к документации ->
    </a>
</div>
</body>
</html>
